  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

  :root{
    --saturation: 100%;
    --hue: 600;
    --light:32%;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

#head-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    img{
        width: 60px;
    }
    h1{
        font-size: 3vmax;
        font-weight: 600;
    }
}
.themes{
    display: flex;
    gap: 5px;
}
.theme{
    width: 15px;
    height: 15px;
    background-color: black;
}

.darkBg{
    background-color: black;
    cursor: pointer;
}
.blueBg{
    background-color: blue;
    cursor: pointer;
}
.greenBg{
    background-color: green;
    cursor: pointer;
}
.pinkBg{
    background-color: pink;
    cursor: pointer;
}
.yellowBg{
    background-color: yellow;
    cursor: pointer;
}
.lightBg{
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
}



.dark-light img{
    width: 50px;
    cursor: pointer;
}

#body-section{
    width: 100%;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.container{
    display: flex;
    justify-content: space-between;
}

input[type="text"]{
    width: 85%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;
    /* border: 2px solid green; */
    border: 2px solid hsl(var(--hue), var(--saturation), var(--light));
    font-size: 18px;
}

.add-btn{
    width: 60px;
    padding: 5px;
    margin-left: 5PX;
    border-radius: 5px;
    background-color: hsl(var(--hue), var( --saturation), var(--light));
    font-weight: 800;
    border: none;
    outline: none;
    color: #fff;
}
.add-btn:hover{
    background-color:hsl(var(--hue), var( --saturation), var(--light)) ;
    cursor: pointer;
}

#listFields{
    margin-top: 30px;  
}

#listFields ul{
    padding: 5px;
    margin: 3px;
    border: 0.5px solid hsl(var(--hue), var( --saturation), var(--light));
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

i{
    cursor: pointer;
}

.footer-position{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    box-shadow: rgba(79, 76, 76, 0.35) 0px 5px 15px;
    gap: 3px;
    /* background-color: #fff; */
    padding: 10px 0;
}

i{
    font-size: 1.2rem;
}


/************** RESPONSIVE *************/
@media screen and (max-width: 768px){
    .subject{
        font-size: 32PX;
    }
    #body-section{
        width: 95%;
    }
}